
.swiper-container {
    padding-bottom: 40px; /* Add space for pagination dots */
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
  
  .swiper-pagination-bullet {
    background: white;
    opacity: 0.6;
  }
  
  .swiper-pagination-bullet-active {
    background: orange;
    opacity: 1;
  }